* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'tahoma', sans-serif; 
}

header {
    background: gray;
    padding: 2vmin;
}

.splash-img {
    width: 80vw;
    margin: 0 auto;
    display: block;
}

.info {
    display: flex;
}

