* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'tahoma', sans-serif; 
}

header {
    background: gray;
    padding: 2vmin;
}

.portfolio {
    display: block;
    text-align: center;
    margin: 1em 0;
}

.splash-img {
    width: 98vw;
    display: block;
    margin: 1em auto;
}

.info {
    display: flex;
}

.info-section {
    margin: 0 1em;

}

.main-menu {
    display: flex;
    justify-content: space-evenly;
}